<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/framework">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" ></meta>
</head>
<body>
<div layout:fragment="content">
    <div class="row border-bottom white-bg dashboard-header">
        <p>抱歉，您访问的页面不存在或系统出错，请重试！</p>
        <a href="/">返回首页</a>
    </div>
</div>
</body>
</html>