<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:include="common/base::base">
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<!-- div th:replace="common/theme::theme"></div> -->
	<div id="wrapper">
		<!-- 左侧导航 -->
		<div th:replace="common/nav::nav"></div>

		<!--右侧部分开始-->
		<div id="page-wrapper" class="gray-bg dashbard-1">
		    <div th:replace="common/top::top"></div>
			<div class="row">
				<div class="col-lg-12">
					<div layout:fragment="content"></div>

				</div>
				<div class="footer" style="background:none;position:static; ">
		            <div class="text-center">
		                <strong>Copyright &copy; 2006-2016</strong> <a target="_blank" href="http://www.zbj.com/">ZBJ.COM</a>
		            </div>
		        </div>
			</div>
		</div>
	    <!--右侧部分结束-->
	    					
	</div>
	<div layout:fragment="footJs"></div>
	
	<script type="text/javascript">
		var baseURI = "${baseURI}";
	</script>
</body>
</html>